::-moz-selection {
    color: black;
    background: #008080;
}

::selection {
    color: black;
    background: #008080;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    font-size: 26px;
}

@font-face {
    font-family: 'Nine';
    src: url('fonts/Nine.eot');
    src: url('fonts/Nine.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nine.woff2') format('woff2'),
        url('fonts/Nine.woff') format('woff'),
        url('fonts/Nine.ttf') format('truetype'),
        url('fonts/Nine.svg#Nine') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes glow {
    0% {
        color: #FEF051;
        text-shadow: 0 0 2px rgba(255,153,0,0.2),
        0 0 4px rgba(255,153,0,0.3),
        0 0 6px rgba(255,0,0,0.2),
        0 0 8px rgba(255,0,0,1),
        0 0 10px rgba(255,0,0,1),
        0 0 12px rgba(255,0,0,1);
    }
    50% {
        color: #FF2400;
        text-shadow: 0 0 2px rgba(255,153,0,0),
        0 0 4px rgba(255,153,0,0),
        0 0 6px rgba(255,0,0,0),
        0 0 8px rgba(255,0,0,0),
        0 0 10px rgba(255,0,0,0),
        0 0 12px rgba(255,0,0,0);
    }
    100% {
        color: #FEF051;
        text-shadow: 0 0 2px rgba(255,153,0,0.2),
        0 0 4px rgba(255,153,0,0.3),
        0 0 6px rgba(255,0,0,0.2),
        0 0 8px rgba(255,0,0,1),
        0 0 10px rgba(255,0,0,1),
        0 0 12px rgba(255,0,0,1);
    }
}

body {
    /* Sizing */
    width: 100%; 
    height: 86vh;
    margin: 0;
    margin-top: 65px;

    /* Text styles */
    font-family: 'Nine', serif;
    text-align: center;
    color: white;

    /* Background styles */
    background: rgb(0,50,50);
    background: linear-gradient(0deg, rgba(0,50,50,1) 0%, rgba(0,82,82,1) 50%, rgba(0,99,99,1) 100%);
}

h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    /* Sizing */
    text-align: left;
    justify-content: left;
    align-items: left;
    margin: 10px 50px 10px 50px;
    padding: 0 120px 0 120px;
}

a, a:hover {
    color: #008080;
}

a:visited {
    color: #006767;
}

.home-btn {
    position: fixed;
    top: 80%;
    left: 50%;
    margin-left: -56px;
}

.bg-teal {
    background-color: #008080 !important;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.glow {
    transition: 0.5s ease-in-out;
    color: #FF7D06;
    overflow: visible;
    animation: glow 2s linear infinite;
    animation-name: glow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.glow:hover {
    animation: none;
    color: #FEF051;
    text-shadow: 0 0 4px rgba(255,153,0,1),
    0 0 8px rgba(255,153,0,1),
    0 0 12px rgba(255,0,0,1),
    0 0 16px rgba(255,0,0,1),
    0 0 20px rgba(255,0,0,1),
    0 0 40px rgba(255,0,0,1);
}

.background {
    /* Flexbox stuff */
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    /*overflow: hidden;*/
    justify-content: center;
    align-items: center;

    /* Background styles */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/torrance.jpg');
}

.hero {
    /* Sizing */
    width: 100%;
    height: 100vh;
    
    /* Flexbox stuff */
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    /*overflow: hidden;*/
    justify-content: center;
    align-items: center;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/torrance.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.hero.resume.work {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/dwight.jpg');
    height: 12vw;
}

.hero.resume.education {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/education.png');
    height: 12vw;
}

.hero.resume {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/torranceview-min.jpg');
}

.hero.resume.south {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/shs.jpg');
}

.hero.resume.elcamino {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/elcamino.jpg');
}

.hero.resume.uci {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/uci.jpg');
}

.hero.resume.armycorps {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/915wilshire2.jpg');
}

.hero.resume.mirth {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/611anton.jpg');
}

.hero.resume.flexion {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/wfh.jpg');
}

.hero-inner {
    margin: 50px;
}

.background.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/Delder by Dylan.jpg');
}

.background.writing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/Elderproject.bmp');
}

.background.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/Elderproject.bmp');
}

.background.sol {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/SoL logo by Evan Mod.jpg');
}